.matowin_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A2A2A;
    padding: 0 50px;
    height: 100px;
}
/* #EAF2F8; */
.matowin_logo img{
    height: 250px;
    width: 250px;
    margin: 0 0 0 -40px;
}

@media screen and (max-width:991px){
    .matowin_header{
        padding: 0 20px;
    }    

    .matowin_logo img{
        height: 150px;
        width: 150px;
        margin: 0 0 0 -20px;
    }
    
    .matowin_header { 
        height: 60px;
    }
}
